/SeqSim_Pt4_NC_results.txt
/SeqSim_Pt4_NF_results.txt
/SeqSim_Pt4_TC_results.txt
/SeqSim_Pt4_TF_results.txt
/SeqSim_Pt5_NC_results.txt
/SeqSim_Pt5_NF_results.txt
/SeqSim_Pt5_TC_results.txt
/SeqSim_Pt5_TF_results.txt
